beautifulsoup4
django==1.2
evernote3==1.25.14
Flask==1.1.2
jinja2==2.11.3
lxml==4.6.2
oauth2client==4.1.3
pybase62==0.4.3
pyjwt==1.4.1
pytz==2021.1
redis == 3.3.11
webapp2==2.5.1
funcsigs==1.0.2
pbr==1.10.0
mock==2.0.0
WebTest==2.0.21
pycrypto==2.6
